@media (max-width: 767px) {
  section > .container {
    width: 767px;
  }
  .avatar {
    display: none;
  }
  #nav-bar .container {
    grid-template-columns: 125px 125px 50px 125px 125px;
  }
  .pro {
    grid-template-columns: 50px 50px 50px;
  }
  #footer .footer-content li {
    font-size: 150%;
  }
}
